$h1_color: rgba(57,138,141,0.7);
$keyboard_border: #222222;
$keyboard_background: #888888;
$gray_brown: #444444;
$blue: rgba(25, 0, 255, 0.2);
$persian_blue: rgba(51, 0, 255, 0.7);
$dark_purplish_purple: rgba(103, 11, 160, 0.3);
$gainsborough: #E5E5E5;
